# Configuration of the lcp testing tool
lcp_encrypt:
  # cmd_path: Path the lcpencrypt command
  cmd_path: /
lcp_server:
  # base_uri: Url of lcp server
  base_uri: http://localhost:8989
  auth:
    # user: Auth username to connect to lcp server
    user: username
    # passwd: Auth password to connect to lcp server
    passwd: password
  # external_repository_path: External path where LCP server files are stored
  external_repository_path: /
  # internal_repository_path: Path where LCP server files are stored
  internal_repository_path: /
  # user_passphrase_hint: User passphrase hint used for license generation
  user_passphrase_hint: The name of your favorite book
  # user_passphrase: User passphrase  used for license generation
  user_passphrase: babar

lsd_server:
  base_uri: http://localhost:8990
  auth:
    # user: Auth username to connect to lsd server
    user: username
    # passwd: Auth password to connect to lsd server
    passwd: password
# working_path: Working path of test suite
working_path: /
# root_cert_path: Path to the root certificate file
root_cert_path: /
